@font-face {
    font-family: 'PokemonSolid';
    src: url('/fonts/Pokemon_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container-search {
    width: 600px;
    height: 350px;
    background-image: url('../../images/fondo-1.png');
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.search-img {
    image-rendering: pixelated;
    width: auto;
    height: 330px;
    position: absolute;
    top: 2.5%;
    left: 5%;
}

.success-img {
    width: 100%;
    max-width: 600px;
    background-size: cover;
}

.confirmacion-img{
    width: auto;
    height: 250px;
    position: absolute;
    top: 5%;
    right: 10%;
}

.submit-form {
    margin-top: 20px;
}

.pokemon-name {
    font-family: 'PokemonSolid', sans-serif;
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    text-shadow:
    4px 4px 0px rgb(3, 96, 210),   /* Sombra superior derecha */
    -2px -2px 0px rgb(62, 90, 201), /* Sombra inferior izquierda */
    4px -4px 0px rgb(3, 96, 210),  /* Sombra superior izquierda */
    -2px 2px 0px rgb(62, 90, 201);  /* Sombra inferior derecha */
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgba(255, 217, 0, 0.911);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 1;
    word-wrap: break-word;
}
.name-before {
    font-family: 'PokemonSolid', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em; 
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgba(255, 217, 0, 0.911);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 0;
    word-wrap: break-word;
}

.pokemon-name-pre , .name-before-pre{
    position: absolute;
    top: 10%;
    right: 24%;
    font-family: 'PokemonSolid', sans-serif;
    color: rgba(255, 217, 0, 0.911);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.pokemon-name-pre {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.name-before-pre {
    text-shadow:
    4px 4px 0px rgb(3, 96, 210),   /* Sombra superior derecha */
    -2px -2px 0px rgb(62, 90, 201), /* Sombra inferior izquierda */
    4px -4px 0px rgb(3, 96, 210),  /* Sombra superior izquierda */
    -2px 2px 0px rgb(62, 90, 201);  /* Sombra inferior derecha */
}

.submit-form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

button {
    background-color: rgba(255, 217, 0, 0.911);
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1rem;
    color: rgb(62, 90, 201);
    text-transform: uppercase;
    font-weight: bold;
    max-width: 200px;
}

button:hover {
    color: rgba(255, 217, 0, 0.911);
    background-color: rgb(62, 90, 201);
}

input {
    border: none;
    width: 200px;
    height: 30px;
    margin-right: 20px;
    border-radius: 4px;
    color: rgba(255, 217, 0, 0.911);
    background-color: rgb(62, 90, 201);
    padding: 4px;
}

.reload-img{
    width: 30px;
    height: auto;
}

.modal-cargando {
    display: flex;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.texto-modal {
    font-family: 'PokemonSolid', sans-serif;
    color: rgba(255, 217, 0, 0.911);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 8px;
}